@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
header {
    background-color: #be1c1c;
    display: grid;
    grid-template-columns: 150px auto;
    height: 104px;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #000000;
}
nav {
    display: flex;
    justify-content: space-around;
    grid-column: 2/3;
}
nav a {
    color: #FFFFFF;
    font-family: "Kdam Thmor Pro", sans-serif;
    text-decoration: none;
    align-self: center;
    padding: 35px
}

nav a:hover {
    color: rgb(0, 40, 219);
    background-color: #ff0000;
}

.logo {
    width: 100px;
    grid-column: 1/2;
    border: #F3C90C solid 2px;
}

.banner img {
    width: 80%;
    height: 350px;
    margin-left: 170px;
}

h2 {
  color: #F3C90C; 
  font-family: "Kdam Thmor Pro", sans-serif; 
}

p {
    color: #F3C90C;
    font-family: "Poppins", serif;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

section {
    margin: 100px;
}

.sect1 {
    grid-row: 1/2;
    height: 300px;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr;
}

.sect1 img {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 250px;
    width: 444px;
    padding-left: 22%;
}

.sect1 h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin: 10px;
}

.sect1 p {
    grid-column: 2/3;
    grid-row: 2/3;
}

.sect2 {
    grid-row: 2/3;
    height: 300px;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr;
}

.sect2 img {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 250px;
    padding-left: 22%;
}

.sect2 h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin: 10px;
}

.sect2 p {
    grid-column: 1/2;
    grid-row: 2/3;
}

footer {
    background-color: #be1c1c;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    height: 104px;
    
}


footer h3 {
    align-self: center;
    justify-self: center;
    grid-column: 1/2;
}

.footer_nav {
    display: flex;
    justify-content: space-around;
    grid-column: 2/3;
    margin-right: -200px;
}
.footer_nav a {
    color: #FFFFFF;
    font-family: "Kdam Thmor Pro", sans-serif;
    text-decoration: none;
    align-self: center;
    padding: 35px
}

.footer_nav a:hover {
    color: rgb(0, 40, 219);
    background-color: #ff0000;
}

.logo-foot {
    width: 100px;
    border: #F3C90C solid 2px;
    margin-left: 216px;
    grid-row: 1/2;
    grid-column: 3/4;
}

.content-factions {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content-factions h2 {
    color: #F3C90C; 
    font-family: "Kdam Thmor Pro", sans-serif;  
}

.republic-img {
    width: 400px;
    background-color: antiquewhite;
    grid-column: 1/2;
    border: 4px solid slategrey;
}

.federation-img {
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    grid-column: 1/2;
    border: 4px solid slategrey;
}

.republic {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: 60px 1fr 1fr;
    border: 5px solid #F3C90C;
    padding: 20px;
    height: 700px;
    margin-bottom: -70px;
}

.federation {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: 60px 1fr 1fr;
    border: 5px solid #F3C90C;
    padding: 20px;
    height: 700px;
}

.character_link {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    text-decoration: none;
}

.character_link img {
    width: 200px;
    height: 200px;
    border: 4px solid #F3C90C;
}

.character_link h3 {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: #F3C90C;
    margin: 0 auto;
    width: 200px;
}

.character_link h3:hover {
    border: 5px solid #F3C90C;
}

.republic h2 {
    text-align: center;
    margin-right: 46px;
    margin-bottom: 50px;
}

.federation h2 {
    text-align: center;
    margin-right: 46px;
    margin-bottom: 50px;
}

.content-character {
    display: grid;
    grid-template-rows: 60px 390px 1fr;
    grid-template-columns: 1fr 1fr;
}

.content-character img {
    width: 400px;
    grid-row: 2/3;
    border: 4px solid #F3C90C;
    align-self: center;
    justify-self: center;
}

.content-character h1 {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: #F3C90C;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}

.content-character ul {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: #F3C90C;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
}

.bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 3/4;
    grid-column: 1/3;
    margin-bottom: -100px;
}


.bio img {
    width: 500px;
    grid-column: 2/3;
    grid-row: 1/2;
    
}

 .bio p {
    grid-column: 1/2;
 }












/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #F3C90C;
    border: 1px solid #F3C90C;
    width: 300px;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #F3C90C;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }